body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 24px 124px;
}

//TableContributors
@import '../../components/TableContributors/TableContributorsComponent.css';

//Contribute
@import '../../components/Contribute/ContributeComponent.scss';
@import '../../components/Contribute/FormContribute/FormContributeComponent.scss';